In [8]:
age = 60
if age > 80:
    print('Greter than 80')
elif age > 50:
    print('Greater than 50')
elif age > 30:
    print('Greater than 30')
elif age > 15:
    print('Greater than 15')
elif age > 0:
    print('Greater than 0 and less than 15')

Greater than 50

In [9]:
marks = 14
if marks > 80:
    print('A grade')
elif marks > 50:
    print('B grade')
elif marks > 35:
    print('Pass')
else:
    print('Fail')

Fail

In [7]:
marks = int(input())
if marks > 80 and marks < 100:
    print('A grade greater than 80 and less than 100')
elif marks > 50 and marks < 80:
    print('B grade and marks greater than 50 and less tham 80')
elif marks > 35 and marks < 50:
    print('Pass and marks are greter than 35 and  less than 50')
elif marks > 0 and marks < 35:
    print('Fail and marks are less than 35')
else:
    print('Please write marks between 0  to 100')

 123

Please write marks between 0  to 100

# For loop

In [10]:
l = [1,2,3,4,5]

In [11]:
for num in l:
    print(num)

1
2
3
4
5

In [12]:
for letters in 'Data Science':
    print(letters)

D
a
t
a

S
c
i
e
n
c
e

In [13]:
names = ['Om','Sham','Ganesh','Suresh']

In [14]:
for i in names:
    print(i)

Om
Sham
Ganesh
Suresh

In [15]:
for i in names:
    print('My name is', i)

My name is Om
My name is Sham
My name is Ganesh
My name is Suresh

In [16]:
for i in names:
    print(names)

['Om', 'Sham', 'Ganesh', 'Suresh']
['Om', 'Sham', 'Ganesh', 'Suresh']
['Om', 'Sham', 'Ganesh', 'Suresh']
['Om', 'Sham', 'Ganesh', 'Suresh']

In [17]:
for i in names:
    print('*')

*
*
*
*

In [18]:
len(names)

4

In [19]:
for i in names:
    print(i)

Om
Sham
Ganesh
Suresh

In [20]:
for i in names:
    for letters in i:
        print(letters)

O
m
S
h
a
m
G
a
n
e
s
h
S
u
r
e
s
h

In [21]:
list1 = []
for i in names:
    for letters in i:
        list1.append(letters)

In [22]:
list1

['O',
 'm',
 'S',
 'h',
 'a',
 'm',
 'G',
 'a',
 'n',
 'e',
 's',
 'h',
 'S',
 'u',
 'r',
 'e',
 's',
 'h']

In [23]:
list1 = []
for i in names:
    for letters in i:
        list1.append(i)

In [24]:
list1

['Om',
 'Om',
 'Sham',
 'Sham',
 'Sham',
 'Sham',
 'Ganesh',
 'Ganesh',
 'Ganesh',
 'Ganesh',
 'Ganesh',
 'Ganesh',
 'Suresh',
 'Suresh',
 'Suresh',
 'Suresh',
 'Suresh',
 'Suresh']

In [25]:
mix = [1,1.5,'Data', True]

In [26]:
for i in mix:
    print(i)

1
1.5
Data
True

In [27]:
for i in mix:
    print(type(i))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [28]:
for i in mix:
    print(type(i), i)

<class 'int'> 1
<class 'float'> 1.5
<class 'str'> Data
<class 'bool'> True

In [29]:
for i  in mix:
    if type(i) == int:
        print('Data is Integer', i)

Data is Integer 1

In [30]:
for i in mix:
    if type(i) == str:
        print('Data is string', i)

Data is string Data

In [31]:
l = [1,2,3,[100,200,300]]

In [32]:
for i in l:
    print(i)

1
2
3
[100, 200, 300]

In [33]:
for i in l:
    if type(i) == list:
        for num in i:
            print(num)

100
200
300

In [37]:
s = []
for i in l:
    if type(i) == list:
        for j in i:
            
            s.append(j)
    elif type(i) == int:
        s.append(i)

In [38]:
s

[1, 2, 3, 100, 200, 300]

In [39]:
mix2 = [1,2,3.5, True, 'New', 'Year']

In [40]:
emp_l = []
for i in mix2:
    if type(i) == str:
        for letters in i:
            emp_l.append(letters)

In [41]:
emp_l

['N', 'e', 'w', 'Y', 'e', 'a', 'r']

In [42]:
for i in range(1,5):
    print(i)

1
2
3
4

In [43]:
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [44]:
for i in range(1,31):
    if i % 2 == 0:
        print(i, 'Even Number')
    elif i % 2 != 0:
        print(i, 'Odd number')

1 Odd number
2 Even Number
3 Odd number
4 Even Number
5 Odd number
6 Even Number
7 Odd number
8 Even Number
9 Odd number
10 Even Number
11 Odd number
12 Even Number
13 Odd number
14 Even Number
15 Odd number
16 Even Number
17 Odd number
18 Even Number
19 Odd number
20 Even Number
21 Odd number
22 Even Number
23 Odd number
24 Even Number
25 Odd number
26 Even Number
27 Odd number
28 Even Number
29 Odd number
30 Even Number

In [45]:
for i in range(1,31):
    if i % 2 == 0:
        print(i, 'Even Number')

2 Even Number
4 Even Number
6 Even Number
8 Even Number
10 Even Number
12 Even Number
14 Even Number
16 Even Number
18 Even Number
20 Even Number
22 Even Number
24 Even Number
26 Even Number
28 Even Number
30 Even Number

In [46]:
for i in range(1,31):
    if i % 2 != 0:
        print(i, 'Odd number')

1 Odd number
3 Odd number
5 Odd number
7 Odd number
9 Odd number
11 Odd number
13 Odd number
15 Odd number
17 Odd number
19 Odd number
21 Odd number
23 Odd number
25 Odd number
27 Odd number
29 Odd number

In [47]:
for i in range(5):
    print(i)

0
1
2
3
4

In [49]:
for i in range(10):
    print('#' * i)

#
##
###
####
#####
######
#######
########
#########

In [50]:
for i in range(10,0,-1):
    print('#' * i)

##########
#########
########
#######
######
#####
####
###
##
#

# While loop

In [52]:
num = 1
while num <= 5:
    print(num)
    num = num + 1

1
2
3
4
5

In [53]:
age = 30
while age > 25:
    print(age)
    age = age - 1

30
29
28
27
26

In [54]:
word = ''
while word != 'stop':
    print(word)
    word = input()

 khtl

khtl

 juiioi

juiioi

 jhu

jhu

 stop

In [55]:
word = ''
while word != 'exit':
    print(word)
    word = input('enter exit to stop while loop')

enter exit to stop while loop jd

jd

enter exit to stop while loop kie

kie

enter exit to stop while loop kjd

kjd

enter exit to stop while loop kdj

kdj

enter exit to stop while loop ku

ku

enter exit to stop while loop li

li

enter exit to stop while loop exit

In [56]:
'exit' == 'exit'

True

In [57]:
'nddf' != 'exit'

True

In [58]:
'exit' != 'exit'

False